@model Budget.Models.HomeModel

<h1>The App</h1>

<p>Its time to get you started and create your budget</p>


<form action="/CreateNew" method="Post">

    <h2>Personal Details</h2>

   
@using (Html.BeginForm("EditStandardItem", "Admin", FormMethod.Post))
{

    @Html.ValidationSummary(true)
    

    <h2>Income</h2>
    
    foreach (var item in Model.IncomeItems)
    {
         @item.Name;
        <br />
    }
    
    <h2>Expenditure</h2>
    
    foreach (var item in Model.ExpenseItems)
    {
        @item.Name;
        <br />
    }
    
}
</form>

